{% extends "base.html" %}

{% block content %}
    {% block content_title %}
    {% endblock %}

    <div class="flex flex-col gap-50">
    {% for article in articles_page.object_list %}
        <article class="flex flex-col gap-20">
            <h3 >
                {{ article.title }}
            </h3>

            <div class="flex flex-col gap-15">
                <div class="flex flex-col gap-5" hx-ext="preload">
                    <div>{{ article.summary }}</div>
                    <div><a 
                        class="dark"
                        hx-ext="multi-swap"
                        hx-boost="true" 
                        hx-swap="multi:#main,#nav"
                        preload="mouseover"
                        href="{{ SITEURL }}/{{ article.url }}">continue reading</a></div>
                </div>
                {% include "article_link_chips.html" %}
            </div>
        </article>
    {% endfor %}
    </div>

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}

{% endblock content %}
