{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} - Tags{% endblock %}

{% block content %}
<div class="flex flex-col gap-30 w-100 align-center">
    <h2>Tags</h2>
    <div class="chip-container">
        {% for tag, _ in tags %}
        <span class="button chip big-chip" 
            hx-ext="multi-swap"
            hx-push-url="true" 
            hx-swap="multi:#main,#nav"
            hx-get="{{ SITEURL }}/{{ tag.url }}"
            >{{ tag }}</span>
        {% endfor %}
    </div>
</div>
{% endblock %}
