@import url("reset.css");
@import url("theme.css");
@import url("pygment.css");
@import url("lib.css");

a { 
    color: var(--color-accent-fg);
    font-weight: 325;
    text-decoration: none;
    font-size: 1.15rem;
    text-decoration: none;
}

a.dark {
    color: var(--color-accent-bg);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
}

h1 > a, h2 > a {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.15rem;
}

.article-title {
    font-weight: 350;
}

.article-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content p, .content li {
    color: var(--color-article-text);
}

.content p, .content  a, .content ul, .content ol {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 380;
}


.content ul, .content ol {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

code:not(.highlight code) {
    font-family: monospace;
    border: 1px solid var(--color-dark-fg);
    font-size: 0.9rem;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.content ul {
    list-style: outside;

}

.content ol {
    list-style: auto;
}

em {
    font-style: italic;
}

.toc {
    border: 1px solid var(--color-dark-fg);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.toc > .toctitle {
    font-size: 1.5rem;
}

.toc > ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.toc li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toc li:not(:last-child) {
    border-bottom: 1px solid var(--color-dark-fg);
    padding-bottom: 10px;
}

.toc li:not(:first-child) {
    padding-top: 10px;
}





.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em; /* Adds space between images */

    a:hover {
        text-decoration: none;

    }

    figure {
        flex: 1 1 calc(50% - 1em); /* Make each image take half the width, minus the gap */
        max-width: 100%; /* Ensure the figure doesn't overflow */
        text-align: center;
        cursor: pointer;
    }

    img {
        max-height: 300px;
        width: auto;
        max-width: 100%; /* Ensure images resize proportionally */
    }

    /* Size-specific classes for images */
    img.small {
        max-height: 150px;  /* Set smaller height */
        width: auto;        /* Maintain aspect ratio */
    }

    img.medium {
        max-height: 300px;  /* Set medium height */
        width: auto;        /* Maintain aspect ratio */
    }

    img.large {
        max-height: 500px;  /* Set larger height */
        width: auto;        /* Maintain aspect ratio */
    }

    figcaption {
        font-size: 0.9em;
        color: #555;
        font-style: italic;
        margin-top: 0.5em;
    }

    .modal-image.is-hidden {
        display: none;
    }

    .modal-image {
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 50;
        .modal-image-background {
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(9, 10, 12, 0.86);
        }

        .modal-image-container {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                margin: 50px;
                max-width: calc(100% - 100px);
                max-height: calc(100% - 100px);
            }
        }
    }
}

@media (max-width: 800px) {
    .image-container figure {
        flex: 1 1 100%; /* Stack images vertically on smaller screens */
    }
}

hr {
    width: 100%;
    background: var(--color-dark-fg);
    height: 1px;
    border: none;
}
