@import url("reset.css");
@import url("theme.css");
@import url("pygment.css");
@import url("lib.css");

a { 
    color: var(--color-accent-fg);
    font-weight: 400;
    text-decoration: none;
    font-size: 1.15rem;
    text-decoration: none;
}

a.dark {
    color: var(--color-accent-bg);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
}

h1 > a, h2 > a {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.15rem;
}

.article-title {
    font-weight: 350;
}

.article-title:hover {
    text-decoration: underline;
    cursor: pointer;
}
