.highlight {
    background-color: var(--color-bright-bg);
    border-radius: 8px;
    font-family: monospace;
    padding: 10px;
}
.highlight > pre {
    width: 0;
    padding: 10px;
    min-width: calc(100% - 20px);
    overflow-x: auto;
    overflow-y: hidden;
}

.hll {
    background-color:#3b3722;
}
.err {
    color:#c3515c;
}
.c1 {
    color:#c1bc8c;
}
.k, .nt, .ow, .kn, .bp, .kt, .kc, .nb {
    color:#656565;
}
.nn {
    color:#fff;
}
.nc, .na, .nf {
    color:#9f9436;
}
.cp {
    color:#d7dc68;
}
.n {
    color:#a8adad;
}
.m, .mi {
    color:#e3d2f5;
}
.s, .s2, .sd {
    color:#77617d;
}

.p {
    color:#6c6856;
}

/******************/

.c {
    color:#c09e54;
    font-style:italic;
}
.o {
    color:#666666;
}
.cm {
    color:#c09e54;
    font-style:italic;
}
.cs {
    background-color:#FFF0F0;
    color:#408090;
}
.gd {
    color:#A00000;
}
.ge {
    font-style:italic;
}
.gr {
    color:#FF0000;
}
.gh {
    color:#000080;
    font-weight:bold;
}
.gi {
    color:#00A000;
}
.go {
    color:#303030;
}
.gp {
    color:#C65D09;
    font-weight:bold;
}
.gs {
    font-weight:bold;
}
.gu {
    color:#800080;
    font-weight:bold;
}
.gt {
    color:#0040D0;
}
.kd {
    color:#007020;
    font-weight:bold;
}
.kp {
    color:#007020;
}
.kr {
    color:#007020;
    font-weight:bold;
}
.no {
    color:#60ADD5;
}
.nd {
    color:#555555;
    font-weight:bold;
}
.ni {
    color:#D55537;
    font-weight:bold;
}
.ne {
    color:#007020;
}
.nl {
    color:#002070;
    font-weight:bold;
}
.nv {
    color:#BB60D5;
}
.w {
    color:#BBBBBB;
}
.mf {
    color:#208050;
}
.mh {
    color:#208050;
}
.mo {
    color:#208050;
}
.sb {
    color:#4070A0;
}
.sc {
    color:#4070A0;
}
.se {
    color:#4070A0;
    font-weight:bold;
}
.sh {
    color:#4070A0;
}
.si {
    color:#70A0D0;
    font-style:italic;
}
.sx {
    color:#C65D09;
}
.sr {
    color:#235388;
}
.s1 {
    color:#4070A0;
}
.ss {
    color:#517918;
}
.vc {
    color:#BB60D5;
}
.vg {
    color:#BB60D5;
}
.vi {
    color:#BB60D5;
}
.il {
    color:#208050;
}
